:root {
  --clr-nectarine-500: #ff6905;
  --clr-nectarine-700: hsl(24, 99%, 37%);
  --clr-aubergine-800: hsl(0, 97%, 14%);
  --clr-wn-cta-900: hsl(273, 38%, 27%);
  --clr-wn-cta-700: hsl(254, 46%, 46%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-base: "futura-pt-condensed", sans-serif;
  --ff-btn: "Futura", sans-serif;

  --fw-bold: 700;
  --fw-med: 500;
  --fw-normal: 400;
}

/* JOSH COMEAU RESET - https://www.joshwcomeau.com/css/custom-css-reset/
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* UTILITY CLASSES */

body {
  margin: 0.75rem;
  font-family: "futura-pt-condensed", sans-serif;
  font-weight: var(--fw-med);
  font-style: normal;
  font-size: 0.875em;
  text-transform: uppercase;
  background-color: var(--clr-neutral-100);
  text-align: center;
  max-height: 100vh;
}

.warm-nights.banner {
  width: 100%;
  color: var(--clr-neutral-100);
}

.warm-nights .banner__text {
  background: linear-gradient(
    180deg,
    var(--clr-nectarine-500) 0%,
    var(--clr-nectarine-500) 85%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 255, 255, 1) 100%
  );
  border-inline: 0.33rem solid var(--clr-neutral-100);
  display: grid;
  gap: 1rem;
  position: relative;
  align-items: center;
}

.warm-nights .banner__top-tail {
  letter-spacing: 3px;
  font-size: calc(1rem + 0.75vw);
}

.warm-nights .banner__head {
  line-height: 1.125;
  letter-spacing: 2px;
  padding-top: 2vw;
}

.warm-nights .banner__head span {
  display: block;
}

.warm-nights .banner__head::after {
  content: "";
  border-bottom: solid white 2px;
  height: 20px;
  width: 20px;
  display: block;
  justify-content: center;
  padding-top: 0.5rem;
  line-height: 1.125;
  margin: auto;
}

.warm-nights .banner__headergroup {
  --logotype-width: 100vw;
  height: calc(var(--logotype-width) / 2.5);
  background: url(images/warm-nights-logotype.webp) no-repeat -15px 50%;
  background-size: 100%;
}

.banner__headergroup span {
  display: block;
  text-indent: 2800px;
  overflow: hidden;
  width: 1px;
  white-space: nowrap;
}

.banner__formats {
  font-size: 6vw;
  letter-spacing: 2px;
  padding: 0.25rem 2rem;
}

.banner__cta {
  color: var(--clr-neutral-100);
  background-color: var(--clr-wn-cta-900);
  padding: 2vh 2vw;
  display: inline-block;
  width: 90%;
  font-family: var(--ff-btn);
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 5vw;
  transition: background-color 500ms;
}

.banner__cta:is(:hover, :focus) {
  background-color: var(--clr-wn-cta-700);
  transition: background-color 500ms;
}

.warm-nights .banner__foot {
  background-color: var(--clr-neutral-100);
  color: var(--clr-nectarine-500);
  line-height: 1;
  letter-spacing: 2px;
}

/* TWO COLUMN */
@media screen and (min-width: 568px) {
  body {
    margin: 1.125rem;
  }

  .banner {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: "left right";
    gap: 0;
  }

  .warm-nights .banner__text {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 6%,
      rgba(255, 105, 5, 1) 6%,
      rgba(255, 105, 5, 1) 81%,
      rgba(255, 255, 255, 1) 81%,
      rgba(255, 255, 255, 1) 100%
    );
    grid-area: left;
    border-right: none;
    gap: 0;
  }

  .warm-nights .banner__text {
    border: none;
  }

  .banner__lp-image {
    background-color: transparent;
    grid-area: right;
    position: relative;
  }

  .banner__lp-image img {
    display: block;
    transform: perspective(100px) rotateY(-1deg);
  }

  .warm-nights .banner__top-tail {
    background-color: white;
    color: var(--clr-nectarine-500);
    padding-block: 0vw 1vw;
    font-size: 2.5vw;
  }
  .warm-nights .banner__top-tail {
    padding-top: 0vw;
  }

  .warm-nights .banner__headergroup {
    height: calc(var(--logotype-width) / 6);
    background: url(images/warm-nights-logotype.webp) no-repeat 100% 50%;
    background-size: 75%;
    background-position: 33% 50%;
    margin-top: 1vw;
  }

  .banner__cta {
    padding: 2vw;
    font-size: calc(0.75rem + 0.75vw);
    width: 72%;
  }

  .banner__formats {
    font-size: calc(0.75rem + 1vw);
    position: relative;
    margin-top: -20px;
    margin-left: 40%;
    padding-bottom: 1.5vw;
  }

  .warm-nights .banner__head span {
    display: inline;
  }

  .warm-nights .banner__head::after {
    content: "";
    display: inline;
    border: none;
  }

  .warm-nights .banner__foot {
    padding-bottom: 1vw;
  }

  .warm-nights .banner__foot::after,
  .warm-nights .banner__foot::before {
    content: "";
    border-bottom: solid 1px var(--clr-nectarine-500);
    width: 20px;
    margin-bottom: 0.25em;
    display: inline-block;
  }
}

@media screen and (min-width: 567px) and (orientation: portrait) {
  .warm-nights .banner__text {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      var(--clr-nectarine-500) 3%,
      var(--clr-nectarine-500) 3%,
      var(--clr-nectarine-500) 75%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );
    grid-area: left;
    border-right: none;
  }

  .warm-nights .banner__headergroup {
    height: calc(var(--logotype-width) / 5);
  }

  .banner__cta {
    padding: 1.75vw;
    font-size: calc(0.75rem + 0.75vw);
    width: 70%;
  }

  .banner__formats {
    font-size: calc(0.75rem + 0.75vw);
  }

  .warm-nights .banner__foot {
    padding-block: 0.5vw 3vw;
  }
}

/* iPAD LANDSCAPE */
@media screen and (min-width: 1023px) {
  .banner {
    overflow: hidden;
  }
  .banner__lp-image {
  }

  .banner {
    grid-template-columns: 57% 43%;
  }

  .warm-nights .banner__top-tail {
    font-size: calc(1rem + 0.5vw);
    letter-spacing: 3px;
  }

  .warm-nights .banner__headergroup {
    height: calc(var(--logotype-width) / 5);
  }

  .banner__cta {
    padding: 2vh 2vw;
    font-size: calc(1rem + 1vw);
    width: 72%;
  }

  .warm-nights .banner__foot {
    font-size: calc(1rem + 0.75vw);
  }

  .warm-nights .banner__foot::after,
  .warm-nights .banner__foot::before {
    width: 50px;
    height: 10px;
  }

  .banner__formats {
    font-size: calc(1rem + 1vw);
    position: relative;
    margin-top: -40px;
    margin-left: 40%;
    padding-bottom: 1vw;
  }
}
